<!DOCTYPE html>

<html>

<head>
    <title>Compare Movies</title>

    <link rel="stylesheet" href="movie.css">

<!--include our dependence on angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>

    <script src="movie.js"></script>
</head>

<body ng-app='app' ng-controller='mainCtrl'>

    <h1>COMPARE MOVIES</h1>

    <div class="grid-container">

        <form class="grid-item" ng-submit='search(1, movieTitle1)'>
            <input placeholder="Movie Title" ng-model='movieTitle1' />
            <button type='submit'>Search Title</button>
            
            <!--<element ng-bind-html="expression"></element>-->
            <div ng-bind-html="info1"></div>
            <div ng-bind-html="poster1"></div>
        </form>
        
        <form class="grid-item" ng-submit='search(2, movieTitle2)'>
            <input placeholder="Movie Title" ng-model='movieTitle2' />
            <button type='submit'>Search Title</button>
            
            <!--<element ng-bind-html="expression"></element>-->
            <div ng-bind-html="info2"></div>
            <div ng-bind-html="poster2"></div>
        </form>


    </div>
</body>

</html>
